html {
    scroll-behavior: smooth;
    
  }
body{
    background-color: #000000;
    font-family: 'Raleway', sans-serif;

}

.jumbotron{
    color: #ebebeb;
    width: 100%;
    height: 820px;
    align-content: center;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    background: none;
    margin: auto;
    /* margin-top: 90px; */
    margin-bottom: 0px;
    border-bottom: solid;
    border-radius: 0;
    border-bottom-color: #343a40;
    text-align: center;
    align-content: center;
    background-image: url('../images/crowd.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    opacity: 15%;

}

#search-term{
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    margin: auto;
}
#search-input{
    margin-top: 5px;
    box-shadow: 0 0 3px #000000, 0 0 6px #0000FF;
}
.block {
    display: block;
    top: 0;
    height: 70px;
    margin: auto;
    width: 100%;
    background-color: #343a40;
    margin-top: 0;
    padding-bottom: 5px; 
    z-index: -1;
}
#title1{
font-family: 'Lobster', cursive;
font-size: 55px;
color: white;
text-align: center;
text-shadow: 0 0 3px #000000, 0 0 6px #0000FF;

}

hr{
    color: #ebebeb;
    padding: 1px;
    margin: 0;
}
.main{
    margin: auto;
    background: none;
    text-align: center;
    align-content: center;
}

#title{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 40px;
font-weight: bold;
color: #ffffff;
text-shadow: 0 0 3px #000000, 0 0 6px #0000FF;
margin-top: 250px ;
margin-bottom: 0px; 
/* 
text-shadow:
-1px -1px 0 white,
1px -1px 0 white,
-1px 1px 0 white,
1px 1px 0 white; */
}
#directions{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 20px;
padding-bottom: 0px;
padding-top: 0px;
padding-left: 10%;
padding-right: 10%;
text-align: center;
margin-top: 5px;
margin-bottom: 0px;
text-shadow: 0 0 3px #000000, 0 0 6px #0000FF;
}


#results-section{
    margin: auto;
    background-color: #00000000;
    
}

.links{
    background-color: #343a40;
    margin: auto;
    width: 100%;
    padding: 10px;
    padding-bottom: 14px;
    position: sticky;
    text-align: center;
    align-content: center;
    z-index: 99;

}
.links.stick {
    top: 0;
    z-index: 9999;
}
#search-link{
    font-family: 'Lobster', cursive;
    color: #ebebeb;
    text-shadow: 0 0 3px #000000, 0 0 6px #0000FF;
    background-color: #3b3b80;

}
#search-link:hover{
    color: #ebebeb;
    box-shadow: 2px 2px 4px #ffffff83;
    text-shadow: 0 0 3px #000000, 0 0 6px #0000FF;
    text-decoration: none;

}
#search-btn{
    font-family: 'Lobster', cursive;
    color: #ebebeb;
    text-shadow: 0 0 3px #000000, 0 0 6px #0000FF;
    background-color: #3b3b80;
    border-color: #00000000;
    box-shadow: 2px 2px 4px #000000;
}
#search-btn:hover{
    color: #ebebeb;
    box-shadow: 2px 2px 4px #ffffff83;
    text-shadow: 0 0 3px #000000, 0 0 6px #0000FF;
    text-decoration: none;
    transition-property:  box-shadow;
    transition-duration: .35s;
    transition-delay: 0s;
}
.sport-link{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #3b3b80;
    color: #ebebeb;
    box-shadow: 2px 2px 4px #000000;
    text-shadow: 0 0 3px #000000, 0 0 6px #0000FF;
    transition-property:  box-shadow;
    transition-duration: .35s;
    transition-delay: 0s;

}
.sport-link:hover{
    color: #ebebeb;
    box-shadow: 2px 2px 4px #ffffff83;
    text-shadow: 0 0 3px #000000, 0 0 6px #0000FF;
    text-decoration: none;
    transition-property:  box-shadow;
    transition-duration: .35s;
    transition-delay: 0s;

}
.music-link{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #3b3b80;
    color: #ebebeb;
    box-shadow: 2px 2px 4px #000000;
    text-shadow: 0 0 3px #000000, 0 0 6px #0000FF;
    transition-property:  box-shadow;
    transition-duration: .35s;
    transition-delay: 0s;

}
.music-link:hover{
    color: #ebebeb;
    box-shadow: 2px 2px 4px #ffffff83;
    text-shadow: 0 0 3px #000000, 0 0 6px #0000FF;
    text-decoration: none;
    transition-property:  box-shadow;
    transition-duration: .35s;
    transition-delay: 0s;
}
#music-results{
    background-color: #00000000;


}
#sports-results{
    background-color: #00000000;

}
.link-result{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border-style: inset;
    border-color: rgba(0, 0, 0, 0.425);
    background-color: #000000b9;
    font-family: 'Lobster', cursive;
    text-shadow: 0 0 3px #000000, 0 0 6px #0000FF;
    box-shadow: 2px 2px 4px #000000;
    color: #fff;
    
}
.link-result:hover{
    box-shadow: 2px 2px 4px #36357483;
    text-shadow: 0 0 3px #3407fa, 0 0 6px #0000FF;
    text-decoration: none;
    color: #fff;
    transition-property:  box-shadow;
    transition-duration: .35s;
    transition-delay: 0s;


}
ul{
    background: none;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}
form{
    padding: top;
    margin-top: 0;
    line-height: 1.2px;
    font-family: 'Lato', sans-serif;
}
#lineItem{
    padding: none;
    margin: none;
    
    }
#lastLineItem{
    
margin-bottom: 10px;
          
}
.card{
    display: inline-block;
    margin: 10px;
    text-align: center;
    align-content: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #ebebeb;
    box-shadow: 2px 2px 4px #000000;
    background-color: #242425;
    border-radius: 0;
    transition-property:  box-shadow background-color;
    transition-duration: .5s;
    transition-delay: 0s;
    
}
.card:hover{
    border: 1px solid #000;
    padding: 10px;
    box-shadow: 5px 5px 20px #0000ff94 inset;
    transition-property:  box-shadow background-color;
    transition-duration: .5s;
    transition-delay: 0s;
}
.card-title{
    margin-top: 30px;
    color: #ebebeb;
    text-shadow: 0 0 3px #000000, 0 0 6px #0000FF;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.list-group-item{
    border: none;

    
}
.li-card-last{
    overflow: auto;
    margin-bottom: 10px;
    background: none;

}
.li-card{
    overflow: auto;
    background: none;

}
.info-card{
    overflow: auto;
    background: none;
    height: 50px;



}

    


#reset-btn{
    margin: 10px;

}
